@use 'src/theme/colors' as *;
@use 'src/theme/typography' as *;

.aboutSection {
  background-color: $primary-olive;
  padding: $paragraph-spacing-4x;
  border-radius: $border-radius-m;
  max-width: 800px;
  margin: $paragraph-spacing-3x auto;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}
.heading {
  color: $primary-high;
  margin-bottom: $paragraph-spacing-3x;
  text-align: center;
}
