@use 'src/theme/colors' as *;
@use 'src/theme/typography' as *;

.aboutSection {
  padding: $paragraph-spacing-4x;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $secondary-low;
  width: 120%;
}

.heading {
  color: $primary-olive;
  margin-bottom: $paragraph-spacing-3x;
  text-align: center;
}

.textRow,
.textRowReverse {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: $paragraph-spacing-3x;
  gap: $paragraph-spacing-3x;
}

.textRow {
  flex-direction: row;

  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.textRowReverse {
  flex-direction: row-reverse;

  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.textLeft,
.textRight {
  flex: 1;
  font-size: 1.1rem;
  line-height: 1.6;
  max-width: 400px;
  @media (max-width: 550px) {
    font-size: $font-size-xs;
  }
  @media (max-width: 768px) {
    font-size: $font-size-s;
  }
}

.image {
  border-radius: 1rem;

  max-width: 400px;
  @media (max-width: 550px) {
    max-width: 200px;
    max-height: 200px;
  }
  @media (max-width: 768px) {
    max-width: 300px;
    max-height: 300px;
  }
}
.imageRight {
  @media (max-width: 768px) {
    display: none;
  }
}
