@use 'src/theme/colors' as *;
@use 'src/theme/typography' as *;

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 100px 50px;
  margin-top: 100px;
  width: 100vw;
  background-color: $secondary-low;

  .title {
    text-transform: uppercase;
    color: $primary-olive;
    margin-bottom: 50px;
  }

  @media (max-width: 550px) {
    padding: 100px 30px;
  }
}

.inProgressText {
  text-align: center;
  color: $red-error;
}

.cardBox {
  display: flex;
  gap: $paragraph-spacing-xxl;
  width: 100%;
  max-width: 1200px;
  justify-content: center;

  @media (max-width: 768px) {
    flex-direction: column;
    gap: 30px;
  }
}

.cardWrapper {
  width: 50%;
  text-decoration: none;
  transition: transform 0.3s ease;
  cursor: pointer;

  &:hover {
    transform: scale(1.03);
  }

  @media (max-width: 768px) {
    width: 100%;
  }
}

.imageWrapper {
  position: relative;
  aspect-ratio: 16 / 10;
  border-radius: $border-radius-s;
  overflow: hidden;
  border: $border-s solid $secondary-medium;
}

.image {
  object-fit: cover;
  transition: transform 0.4s ease;
  position: absolute;
  z-index: 1;

  .cardWrapper:hover & {
    transform: scale(1.05);
  }
}

.overlayText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: $secondary-white;
  text-shadow: 4px 4px 4px rgba($secondary-black, 1);
  z-index: 2;
  text-transform: uppercase;
  text-align: center;
  pointer-events: none;
}
