$primary-olive: #34421e;
$primary-high: #bcac8c;
$primary-medium: #c09c4e;
$primary-low: #9d7024;

$secondary-black: #000000;
$secondary-high: #1d221c;
$secondary-medium: #4e5c5d;
$secondary-low: #f7f7f7;
$secondary-white: #ffffff;

$blue-high: #3434ff;
$blue-low: #060697;

$red-error: #f15353;
