$primary-olive: #34421E;
$primary-high: #BCAC8C;
$primary-medium: #C09C4E;
$primary-low: #9D7024;

$secondary-black: #000000;
$secondary-high: #1d221c;
$secondary-medium: #4E5C5D;
$secondary-white: #ffffff;

$blue-high: #3434ff;
$blue-low: #060697;

$red-error: #d30101;


