@use 'src/theme/colors' as *;
@use 'src/theme/typography' as *;

.notFoundContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 120%;
  color: $primary-olive;
  background-color: $primary-high;
}
.notFoundTitle {
  @media (max-width: 768px) {
    font-size: $font-size-s;
    max-width: 500px;
  }
}
.notFoundMessage {
  @media (max-width: 768px) {
    font-size: $font-size-xs;
  }
}
