@use 'src/theme/colors' as *;
@use 'src/theme/typography' as *;

.container {
  display: flex;
  flex-direction: column;
  padding: 0 50px;
}

.sectionContentBox {
  padding: 0 50px;
  width: 100%;

  @media (max-width: 550px) {
    padding: 0 30px;
  }
}

// hero section

.heroSection {
  width: 100vw;
  height: 100vh;
  background-image: url('/bg-picture.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.heroTitle {
  text-transform: uppercase;
  color: $secondary-white;
  margin-bottom: $paragraph-spacing-l;
  margin-top: 180px;

  span {
    display: block;
    text-shadow: 2px 2px 4px rgba($secondary-black, 0.3);
    line-height: 1.2;
    font-size: $font-size-xxl;
  }

  @media (max-width: 550px) {
    span {
      font-size: $font-size-l;
    }
  }
}

.heroSubTitle {
  text-transform: uppercase;
  line-height: $line-height-xl;
  font-size: $font-size-xl;
  color: $primary-medium;
  text-shadow: 2px 2px 4px rgba($secondary-black, 0.3);
  margin-bottom: $paragraph-spacing-3x;

  @media (max-width: 550px) {
    line-height: $line-height-m;
    font-size: $font-size-m;
  }
}

.heroText {
  line-height: $line-height-m;
  font-size: $font-size-s;
  color: $secondary-white;

  @media (max-width: 550px) {
    line-height: $line-height-m;
    font-size: $font-size-s;
  }
}

// about section

.aboutContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $paragraph-spacing-xxl;
  padding-top: 100px;
  padding-bottom: 70px;
  background-color: $secondary-low;

  h3 {
    text-transform: uppercase;
    text-align: center;
    max-width: 700px;
    color: $primary-olive;
  }

  p {
    text-align: center;
    max-width: 800px;
  }

  span {
    font-weight: $font-weight-l;
  }
}

// gallery section

.galleryContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: $paragraph-spacing-4x;
  padding-top: 100px;
  padding-bottom: 70px;
  background-color: $primary-olive;

  h3 {
    text-transform: uppercase;
    color: $secondary-white;
  }
}

.galleryButton {
  padding: $paragraph-spacing-l $paragraph-spacing-xl;
  text-transform: uppercase;
  border: none;
  border-radius: $border-radius-m;
  background-color: $primary-medium;
  color: $secondary-white;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: $primary-low;
  }
}

// news section

.newsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: $secondary-low;

  h3 {
    text-transform: uppercase;
    color: $primary-olive;
  }
}
