@use 'src/theme/colors' as *;
@use 'src/theme/typography' as *;

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 100px;
  padding: 0 50px;
  background-color: transparent;
  color: $secondary-white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  transition:
    background-color 0.3s ease,
    color 0.3s ease,
    box-shadow 0.3s ease;

  @media (max-width: 550px) {
    padding: 0 30px;
  }
}

.secondaryHeader {
  color: $secondary-black;
  background-color: $secondary-white;
  box-shadow: 0 4px 10px rgba($secondary-black, 0.15);
}

//nav panel

.navList {
  display: flex;
  gap: $paragraph-spacing-xxl;

  @media (max-width: 990px) {
    position: fixed;
    top: 0;
    right: -285px;
    z-index: 11;
    flex-direction: column;
    align-items: flex-start;
    width: 280px;
    height: 100%;
    padding: $paragraph-spacing-4x;
    background-color: $primary-high;
    border: $border-m solid $secondary-black;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
    box-shadow: 0 0 4px 4px rgba($secondary-black, 0.15);
    transition: right 0.3s ease;
  }
}

.navItem {
  position: relative;
  display: inline-block;
  text-transform: uppercase;

  &::after {
    content: '';
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: $primary-olive;
    transition: width 0.3s ease;
  }

  &:hover::after {
    width: 100%;
  }
}

.active {
  &::after {
    width: 100%;
  }
}

.menuActive {
  right: 0;
}

.menuButton {
  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent;

  .svg {
    color: $secondary-white;
  }

  .secondarySvg {
    color: $secondary-black;
  }

  @media (min-width: 991px) {
    display: none;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba($secondary-black, 0.15);
  z-index: 9;
  backdrop-filter: blur(2px);
}

.cartBadge {
  background-color: $primary-medium;
  color: white;
  font-size: 0.75rem;
  font-weight: bold;
  border-radius: 50%;
  padding: 0.3rem 0.6rem;
  margin-left: 0.5rem;
  line-height: 1;
  display: inline-block;
  min-width: 1.5rem;
  text-align: center;
  vertical-align: middle;
  transition: background-color 0.3s;
}
