@use 'src/theme/colors' as *;
@use 'src/theme/typography' as *;

.mobileMenu {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 100px;
  right: 0;
  width: 100%;
  background-color: $secondary-white;
  padding: 20px;
  gap: 20px;
  transform: translateY(-20px);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
  z-index: 1001;

  @media (min-width: 991px) {
    display: none;
  }
}

.open {
  transform: translateY(0);
  opacity: 1;
  pointer-events: auto;
}

.navItem {
  text-transform: uppercase;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: $secondary-black;
    transform: translateY(-100%);
    transition: transform 0.3s ease;
  }

  &:hover::after,
  &.active::after {
    transform: translateY(0);
  }
}

.overlay {
  content: '';
  position: fixed;
  top: 100px;
  left: 0;
  width: 100%;
  height: calc(100vh - 100px);
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  z-index: 1000;
}

.overlay.open {
  opacity: 1;
  pointer-events: auto;
}
